{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    {% include 'partials/nav.njk' %}

    <section id="main">
      <div class="container">
        <header>
          <h2>{{ project.title }}</h2>
          <div class="addon">
            <a href="#" class="btn btn-danger">Excluir projeto</a>
          </div>
        </header>

        <section id="content">
          <nav>
            <div class="sessions">
              {% for section in project.Sections %}
                <a href="/app/projects/{{ project.id }}/show/section/{{ section.id }}"
                class="{% if section.id == activeSection %}active{% endif %}">{{ section.title }}</a>
              {% endfor %}
            </div>

            <form action="" method="post">
              <input type="text" name="name" placeholder="Nova seção">
              <button type="submit" class="btn"><i class="fas fa-plus"></i></button>
            </form>
          </nav>

          <article>
            {% if selectedSection !== undefined %}
              <div class="project-header">
                <h1>{{ selectedSection.title }}</h1>
                <a href="">Remover seção</a>
              </div>
              <p>{{ selectedSection.content }}</p>
            {% endif %}
          </article>
        </section>
      </div>
    </section>


  </div>
{% endblock %}
